@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&family=Old+Standard+TT:wght@400;700&family=Roboto:wght@400;700&display=swap');


@mixin gold {
    background-color: #BEAD8E;
}
@mixin black {
    background-color: #222222;
}
@mixin blackLight {
    background-color: #333333;
}

@mixin text($size: 16px, $color: black,  $bold: 400){
    font-size: $size;
    color: $color;
    font-weight: $bold;
    font-family: 'Archivo', sans-serif;
}

@mixin old{
    font-family: 'Old Standard TT', sans-serif;
} 
@mixin archivo{
    font-family: 'Archivo', sans-serif;
}
@mixin roboto{
    font-family: 'Roboto',sans-serif;
}
