@import "./_mixin.scss";

.about {
    // PROOF --------------------------------------
    .proof__art {
        @include blackLight;
        .art__div {
            padding: 75px 20px 96px;
            margin: auto;
            max-width: 1170px;
            position: relative;
            .art__p1 {
                @include text(14px, white, 700);
                margin-bottom: 16px;
            }
            .art__p2 {
                @include text(56px, white);
                @include old;
            }
            .div__div {
                position: absolute;
                bottom: 0px;
                right: 20px;
                background-color: white;
                padding: 16px 24px;
                @include text(16px, #222222, 700);
                span {
                    color: #bead8e;
                }
            }
        }
    }

    // VIDEO --------------------------------
    .video__art {
        padding: 0px;
        margin-bottom: 71px;
        max-width: 1170px;
        margin: auto;
        .video__div{
            width: 80%;
            margin: 10px auto;
            
            .video {
                width: 100%;
                height: 400px;
            }
        }
        .art__p {
            padding: 0 20px;
            @include text(32px, #222222);
            margin-bottom: 51px;
            @include old;
            text-align: center;
        }
        .art__div {
            display: grid;
            grid-template-areas:
                "auto  auto"
                "auto  auto";
            justify-content: center;
            .div__icon{
                display: none;
            }
            div {
                width: 158px;
                height: 158px;
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                justify-content: center;
                p {
                    @include text(12px, #222, 700);
                    @include archivo;
                }
            }
            :hover {
                @include gold;
                p {
                    color: white;
                }
            }
        }
    }
    @media (min-width: 1000px) {
        .video__art {
            .video__div {
                display: flex;
                justify-content: center;
                padding: 120px 20px 70px;
                .video {
                    width: 1170px;
                    height: 650px;
                }
            }
            .art__p {
                text-align: center;
                font-size: 72px;
            }
            .art__div {
                display: flex;
                justify-content: space-around;
                .div__icon{
                    width: 158px;
                    height: 158px;
                    display: flex;
                    flex-flow: column wrap;
                    align-items: center;
                    justify-content: center;
                    padding: 21px;
                    p {
                        @include text(12px, #222, 700);
                        @include archivo;
                        text-align: center;
                    }
                }
                div {
                    padding: 21px;
                    p {
                        text-align: center;
                    }
                }
            }
        }
    }
    // RESTAURANT ----------------------------------------
    .restaurant__art {
        padding: 20px 20px 80px;
        max-width: 1170px;
        margin: auto;
        .art__div1 {
            margin: auto;
            width: 280px;
            height: 280px;
            margin-bottom: 32px;
            img {
                width: 100%;
                height: 280px;
            }
        }
        .art__p1 {
            @include text(14px, #777, 700);
            margin-bottom: 26px;
        }
        .art__p2 {
            @include text(40px, #222222);
            margin-bottom: 26px;
            @include old;
        }
        .art__p3 {
            @include text(14px, #777);
            margin-bottom: 16px;
        }
        button {
            @include gold;
            padding: 22px 45px;
            @include text(14px, white, 700);
            border: none;
        }
    }
    @media (min-width: 1000px) {
        .restaurant__art {
            padding: 40px;
            display: grid;
            grid-template-areas:
                "img p1"
                "img p2"
                "img p3"
                "img button";
            justify-content: space-around;
            .art__div1 {
                grid-area: img;
                width: 530px;
                height: 420px;
                margin-right: 5px;
                padding-top: 30px;
                img {
                    height: 103%;
                }
            }
            .art__p1 {
                grid-area: p1;
                padding-top: 30px;
            }
            .art__p2 {
                grid-area: p2;
                font-size: 48px;
                max-width: 481px;
            }
            .art__p3 {
                grid-area: p3;
                max-width: 477px;
            }
            button {
                grid-area: button;
                max-width: 216px;
                margin-bottom: 20px;
            }
        }
    }
    // FACILITIES ----------------------------------------------
    .facilities__art {
        padding: 60px 20px;
        margin-bottom: 175px;
        @include black;
        .flexing {
            display: none;
        }
        .art__p1 {
            @include text(14px, #c2c2c2, 700);
            text-align: center;
            margin-bottom: 24px;
        }
        .art__p2 {
            @include text(40px, white);
            margin-bottom: 32px;
            @include old;
        }
        .art__div {
            padding: 81px 15px 43px;
            position: relative;
            max-width: 370px;
            margin: 15px;
            background-color: #292929;
            .div__p1 {
                @include text(120px, #222, 700);
                position: absolute;
                right: 0;
                top: 0px;
            }
            img {
                width: 70px;
                height: 70px;
                margin-bottom: 37px;
            }
            .div__p2 {
                @include text(30px, white);
                margin-bottom: 28px;
                @include old;
            }
            .div__p3 {
                @include text(14px, white);
            }
        }
    }
    @media (min-width: 1000px) {
        .facilities__art {
            .art__div {
                padding: 81px 60px 43px;
                .div__p1 {
                    top: -25px;
                    right: -7px;
                }
            }
            .art__p1 {
                text-align: center;
            }
            .art__p2 {
                text-align: center;
            }
            .flexing {
                margin: auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                max-width: 1200px;
            }
            .swiperFacilities {
                display: none;
            }
        }
    }

    // COUNTER --------------------------------------------------------------
    .counter__art {
        padding-bottom: 82px;
        .art__div1 {
            padding: 0 20px;
            .art__p1 {
                @include text(14px, #777, 700);
                margin-bottom: 24px;
            }
            .art__p2 {
                @include text(40px, #222);
                margin-bottom: 60px;
                @include old;
            }
        }
        .art__div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 16px auto;
            padding: 25px 20px;
            max-width: 335px;
            img {
                width: 55px;
                height: 55px;
                margin-right: 20px;
            }
            .div__div {
                .div__p1 {
                    @include text(60px, #222222);
                }
                .div__p2 {
                    @include text(16px, #777);
                    @include roboto;
                }
            }
            .div__p {
                color: #dcdcdc;
                font-size: 32px;
            }
        }
        .swiper-slide {
            width: 280px;
            img {
                width: 280px;
                height: 300px;
            }
        }
    }
    @media (min-width: 1000px) {
        .counter__art {
            max-width: 1170px;
            margin: auto;
            .art__div1 {
                .art__p2 {
                    font-size: 80px;
                }
            }
            .flexing {
                display: flex;
                justify-content: space-around;
            }
            .div__img {
                display: flex;
                .art__img {
                    width: 100%;
                    margin: 30px;
                }
            }
            .swiper-wrapper{
                margin: auto;
            }
            .swiper-slide {
                width: 570px;
                img {
                    width: 100%;
                    height: 400px;
                }
            }
        }
    }
}
